@model WMAgility2.Models.ViewModels.SkillHistoryViewModel

<div class="">
    <form method="post">
        <div class="container backgroundWhite pt-4">
            <div class="card" style="border:10px solid #5f0071; ">
                <div class="card-header bg-dark text-light ml-0 row container" style="border-radius: 0px;">
                    <div class="col-12 col-md-6">
                        <h1 class="text-white">@Model.Skill.Name</h1>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <h1 class="text-white"> @Model.Skill.Description</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <p>
                            <h4><b>Practices:</b></h4>

                            @if (ViewBag.Practices.Count > 0)
                            {
                                @foreach (var item in ViewBag.Practices)
                                {
                                    <div>Date: @item.Date </div>
                                    <div>Score: @item.Score </div>
                                    <div>Round: @item.Rounds </div>
                                    <div>Notes: @item.Notes </div>
                                }
                            }
                            else
                            {
                                <div>No @Html.DisplayNameFor(Model => Model.Practice) was found. </div>
                            }
                        </p>

                        <p>
                            Success Rate: @Html.Display("CalcPercentAsync", "Skills") %
                        </p>

                    </div>
                </div>

                <div class="card-footer bg-dark">
                    <div class="row">
                        <div class="col-12 col-md-2 pb-1 ">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-square form-control btn-lg" style="height:50px;">Back</a>
                        </div>
                        <div class="col-12 col-md-5 ">
                            <a asp-controller="Practices" asp-action="Create" asp-route-id="@Model.Skill.Id" class="btn btn-success btn-square form-control btn-lg" style="height:50px;">New Practice</a>
                        </div>
                        <div class="col-12 col-md-5 ">
                            <a asp-controller="Practices" asp-action="DataFromDatabase" class="btn btn-success btn-square form-control btn-lg" style="height:50px;">View Graph</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>