@model IEnumerable<WMAgility2.Models.Skill>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="UpSkill">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IKC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IKC)
            </td>
            <td width="20%">
                <img src="@WebConstants.ImagePath@item.Image" width="100" style="border-radius: 5px; border:1px solid #bbb;" />
            </td>
            <td>
                <a asp-action="UpSkill" asp-route-id="@item.Id" class="btn btn-primary mx-2">Edit</a> |
                <a asp-controller="Skills" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger mx-2">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
